<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OpenCartParallelSuite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="base.TestListener"/>
    </listeners>

    <test name="ScenarioA_Test">
        <classes>
            <class name="tests.ScenarioATest"/>
        </classes>
    </test>

    <test name="ScenarioB_Test">
        <classes>
            <class name="tests.ScenarioBTest"/>
        </classes>
    </test>

</suite>
